<h4>Game types:</h4>

<h5><b>Balloons</b></h5>
<ul>
	<li><a href="http://bclearningnetwork.com/LOR/games/balloons/balloons.php?title=Multiplication" target="_blank">Example</a></li>
	<li>Required: Text based questions and answers.</li>
	<li>In this game the user must choose the correct answer from 5 options</li>
</ul>
<h5><b>Arrange</b></h5>
<ul>
	<li><a href="http://bclearningnetwork.com/LOR/games/arrange/arrange.php?title=foodchains" target="_blank">Example</a></li>
	<li>Required: 4 images</li>
	<li>Image sizes: ~200x100 pixels
	<li>The user must arrange 4 images in the correct order.</li>
</ul>
<h5><b>Categories2</b></h5>
<ul>
	<li><a href="http://bclearningnetwork.com/LOR/games/potato_categories2/potato_categories.php?title=right_triangle" target="_blank">Example</a></li>
	<li>Required: 2 images for categories, 5 images for questions</li>
	<li>Image sizes: ~195x108 (cateogories), ~150x210 (questions)
	<li>The user must drag each question image into the correct category.</li>
</ul>
<h5><b>Categories3</b></h5>
<ul>
	<li><a href="http://bclearningnetwork.com/LOR/games/potato_categories3/potato_categories3.php?title=polynomials" target="_blank">Example</a></li>
	<li>Required: 3 images for categories, 5 images for questions</li>
	<li>Image sizes: ~195x108 pixels (cateogories), ~150x210 pixels (questions)
	<li>The user must drag each question image into the correct category.</li>
</ul>
<h5><b>SpiderLove</b></h5>
<ul>
	<li><a href="http://bclearningnetwork.com/LOR/games/spiderlove/spiders.php?title=linear_graphs" target="_blank">Example</a></li>
	<li>Required: 5 images for the left side, 5 images for the right side</li>
	<li>Image sizes: ~160x75 pixels
	<li>In this game the user must match each image on the right with an image on the left.</li>
</ul>
<h5><b>Venn Diagram</b></h5>
<ul>
	<li><a href="http://bclearningnetwork.com/LOR/games/venn_diagram/venn_diagram.php?title=Divisibility" target="_blank">Example</a></li>
	<li>Required: Question text, two options per question and a specified answer</li>
	<li>In this game the user must drag the question text to the correct area of the Venn diagram (left, both, right, or neither).</li>
</ul>
<h5><b>Image Labelling</b></h5>
<ul>
	<li><a href="http://bclearningnetwork.com/LOR/games/image_labels/index.php?title=digestion" target="_blank">Example</a></li>
	<li>Required: An image labelled with A-F. Terms/questions which apply to question labels.</li>
	<li>Image sizes: ~350x350 pixels (main image)
	<li>The student must match each term to a label (A-F) on the image by clicking a button (A-F).</li>
</ul>
<p><i><b>Note:</b></i> Image sizes do not have to be exact, however the generator will scale your images to the dimensions listed. Because of this, you should choose images with similar dimensions.</p>
