<h4>Game types:</h4>

<h5><b>Balloons</b></h5>
<ul>
	<li><a href="http://bclearningnetwork.com/LOR/games/balloons/balloons.php?title=Multiplication" target="_blank">Example</a></li>
	<li>Required: Text based questions and answers.</li>
	<li>In this game the user must choose the correct answer from 5 options</li>
</ul>
<h5><b>Arrange</b></h5>
<ul>
	<li><a href="http://bclearningnetwork.com/LOR/games/arrange/arrange.php?title=foodchains" target="_blank">Example</a></li>
	<li>Required: 4 images</li>
	<li>Image sizes: ~200x100 pixels</li>
	<li>The user must arrange 4 images in the correct order.</li>
</ul>
<h5><b>Categories2</b></h5>
<ul>
	<li><a href="http://bclearningnetwork.com/LOR/games/potato_categories2/potato_categories.php?title=right_triangle" target="_blank">Example</a></li>
	<li>Required: 2 images for categories, 5 images for questions</li>
	<li>Image sizes: ~195x108 (categories), ~150x210 (questions)</li>
	<li>The user must drag each question image into the correct category.</li>
</ul>
<h5><b>Categories3</b></h5>
<ul>
	<li><a href="http://bclearningnetwork.com/LOR/games/potato_categories3/potato_categories3.php?title=polynomials" target="_blank">Example</a></li>
	<li>Required: 3 images for categories, 5 images for questions</li>
	<li>Image sizes: ~195x108 pixels (categories), ~150x210 pixels (questions)</li>
	<li>The user must drag each question image into the correct category.</li>
</ul>
<h5><b>SpiderLove</b></h5>
<ul>
	<li><a href="http://bclearningnetwork.com/LOR/games/spiderlove/spiders.php?title=linear_graphs" target="_blank">Example</a></li>
	<li>Required: 5 images for the left side, 5 images for the right side</li>
	<li>Image sizes: ~160x75 pixels</li>
	<li>In this game the user must match each image on the right with an image on the left.</li>
</ul>
<h5><b>Venn Diagram</b></h5>
<ul>
	<li><a href="http://bclearningnetwork.com/LOR/games/venn_diagram/venn_diagram.php?title=Divisibility" target="_blank">Example</a></li>
	<li>Required: Question text, two options per question and a specified answer</li>
	<li>In this game the user must drag the question text to the correct area of the Venn diagram (left, both, right, or neither).</li>
</ul>
<h5><b>Image Labelling</b></h5>
<ul>
	<li><a href="http://bclearningnetwork.com/LOR/games/image_labels/index.php?title=digestion" target="_blank">Example</a></li>
	<li>Required: An image labelled with A-F. Terms/questions which apply to question labels.</li>
	<li>Image sizes: ~350x350 pixels (main image)</li>
	<li>The student must match each term to a label (A-F) on the image by clicking a button (A-F).</li>
</ul>
<h5><b>Invaders</b></h5>
<ul>
	<li><a href="https://bclearningnetwork.com/LOR/games/invaders/index.php?title=Perfect%20Squares" target="_blank">Example</a></li>
	<li>Required: Text based questions with answers and three incorrect options. No images are required.</li>
	<li>Questions, answers and options should be 6 characters or less.</li>
	<li>The student must destroy the enemy space ship by identifying the correct answer.</li>
</ul>
<h5><b>Memory</b></h5>
<ul>
	<li><a href="https://bclearningnetwork.com/LOR/games/memory/memory.php?title=fractions" target="_blank">Example</a></li>
	<li>Required: 10 JPG images (5 pairs).</li>
	<li>The user will need to match each of the pairs of images to complete the timed game.</li>
	<li>The user is only able to see one image at a time, and must memorize where the matching image is located.</li>
</ul>
<h5><b>Multiple Choice Quiz</b></h5>
<ul>
	<li><a href="https://bclearningnetwork.com/LOR/games/multiple_choice/index.php?title=triangles" target="_blank">Example</a></li>
	<li>Required: 1 to 250 text based questions each with 3 wrong answers and 1 correct answer. Optional question images may also be provided.</li>
	<li>The student will need to choose the correct answer. If a wrong answer is chosen, the correct answer is shown.</li>
	<li>Question images are optional but question text is required.</li>
</ul>
<h5><b>Two Sort</b></h5>
<ul>
	<li><a href="https://bclearningnetwork.com/LOR/games/two_sort/index.php?title=wants_or_needs" target="_blank">Example</a></li>
	<li>Required: 1 to 25 items to be sorted into two custom columns.</li>
	<li>A user will need to drag and drop each named item into one of two columns.</li>
	<li>Once all items have been sorted, the user can check their answers.</li>
</ul>
<h5><b>Hidden Picture</b></h5>
<ul>
	<li><a href="https://bclearningnetwork.com/LOR/games/hidden_picture/index.html?version=distributive" target="_blank">Example</a></li>
	<li>Required: 16 questions and answers.</li>
	<li>The student will be shown a question and must click on the correct tile to move on to the next question and make the tile disappear.</li>
	<li>As questions are answered, a random hidden picture is revealed.</li>
</ul>
<p><i><b>Note:</b></i> Image sizes do not have to be exact, however the generator will scale your images to the dimensions listed. Because of this, you should choose images with similar dimensions.</p>
