<p>Game created successfully! To include in a course, copy the text below and paste it into the course page HTML.</p>
<textarea rows="4" cols="140">
	<p><iframe src="{{link}}" allowfullscreen="" frameborder="0" height="720" width="920"></iframe></p>
</textarea>

<p>It is a good idea to test your game to make sure nothing went wrong, here is a preview:</p>
<p><iframe src="{{link}}" allowfullscreen="" frameborder="0" height="720" width="920"></iframe></p>