<a href="index.php"><button value="Back">Back to Start Screen</button></a>
<p>Custom BCLN game created successfully! To include it in a course, copy the text below and paste it into the course page HTML. Use your browser's back button to make a change.</p>
<textarea rows="4" cols="140">
<p><iframe src="{{link}}" allowfullscreen="" frameborder="0" height="{{height}}" width="{{width}}"></iframe></p>
</textarea>



<p>It is a good idea to test your game to make sure nothing went wrong, here is a preview:</p>
<p><iframe src="{{link}}" allowfullscreen="" frameborder="0" height="{{height}}" width="{{width}}"></iframe></p>

